{% extends 'base.html' %}

<!DOCTYPE html>
    <html lang="pl">

        {% block content %}
            <div class="register-form container">
            <form method="POST" action="" class="px-md-2">
                <h3> Logowanie </h3>
                {% csrf_token %}
                <div class="form-group row">
                    <label for="username"> Nazwa użytkownika </label>
                    <div>
                        <input type="text" id="username" name="username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password"> Hasło </label>
                    <div>
                        <input type="password" id="password" name="password">
                    </div>
                </div>
                <div class="log-submit">
                <input type="submit" value="Zaloguj się" class="btn btn-secondary custom-from-button">
                </div>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </form>
            <div class="login-link">
                Nie masz konta? <a href="{% url 'register' %}" class="btn btn-secondary custom-from-button"> Zarejestruj się! </a>
            </div>
            </div>

        {% endblock %}

</html>
