<!DOCTYPE html>
    {% extends 'base.html' %}
    <html lang="pl">
        <body>
        {% block content %}
            <div class="register-form container">
            <form method="POST" action="" class="px-md-2">
                <h3>Rejestracja</h3>
                {% csrf_token %}
                <div class="form-group row justify-content-center">
                    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                    <div>
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    <div>
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                    <div>
                        {{ form.password1 }}
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                    <div>
                        {{ form.password2 }}
                    </div>
                </div>
                <div class="form-group row justify-content-center log-submit">
                    <div>
                        <input type="submit" value="Zarejestruj się" class="btn btn-secondary custom-from-button">
                    </div>
                </div>
                <div>
                    {% if form.errors %}
                        Błędy:
                        {% for field in form %}
                            {% if field.errors %}
                                <ul>
                                    {% for error in field.errors %}
                                        <li>{{ field.label }}: {{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

            </form>
            <div class="login-link">
              Masz już konto?
              <a href="{% url 'login' %}" class="btn btn-secondary custom-from-button"> Zaloguj się! </a>
            </div>
            </div>

        {% endblock %}
    </body>
</html>
