Tagi do projektu {{ project }} <br>

{% if tags|length == 0 %}
    Ten projekt nie ma jeszcze żadnych tagów. <br>
    <a href="{% url 'tag_create' project_pk=project.id %}"> Stwórz pierwszy tag </a> <br>
    <a href="{% url 'view_project' project_pk=project.id %}"> Powrót </a>
{% else %}
    {% for tag in tags %}
        {{ tag }}
        <a href="{% url 'tag_update' project_pk=project.id tag_pk=tag.id %}"> Edytuj </a>
        <a href="{% url 'tag_delete' project_pk=project.id tag_pk=tag.id %}"> Usuń </a> <br>
    {% endfor %}
    <a href="{% url 'tag_create' project_pk=project.id %}"> Stwórz tag </a> <br>
    <a href="{% url 'view_project' project_pk=project.id %}"> Powrót </a>
{% endif %}