{% extends 'base.html' %}

{% block content %}
    {% if files|length == 0 %}
        Ten projekt nie ma jeszcze żadnych plików. <a href="{% url 'project_file_upload' project_pk=project.id %}"> Prześlij plik </a> <br>
        <a href="{% url 'view_project' project_pk=project.id %}"> Powrót </a>
    {% else %}
        Pliki projektu {{ project }} <br>
        <a href="{% url 'project_file_upload' project_pk=project.id %}"> Prześlij plik </a> <br>
        <a href="{% url 'view_project' project_pk=project.id %}"> Powrót </a> <br>
        <table>
            <tr>
                    <th> Plik </th>
            <tr>
                {% for file in files %}
                    <tr>
                        <td> <a href="{% url 'project_file_view' project_pk=project.id file_pk=file.id %}"> {{ file }} </a> </td>
                    </tr>
                {% endfor %}
        </table>
    {% endif %}
{% endblock %}