<!DOCTYPE html>
    <html lang="pl">
        {% extends 'base.html' %}
        {% block content %}
            <body>
                    {% if projects|length == 0 %}
                        <div class="big-div container text-center">
                            Nie masz jeszcze żadnych projektów. <br>
                            <a href="{% url 'create_project' %}" class="btn btn-secondary custom-from-button"> Stwórz swój pierwszy projekt! </a> <br>
                        </div>
                    {% else %}
                        <div class="list-center text-center">
                            <table>
                                    <tr>
                                        <th> <h3> Projekty użytkownika </h3> </th>
                                    </tr>
                                    {% for project in projects %}
                                        <tr class="custom-list-button tr-border">
                                            <td> <a href="{% url 'view_project' project_pk=project.id %}" class="btn custom-list-button"> {{ project }} </a> </td>
                                        </tr>
                                    {% endfor %}
                            </table>
                            <div>
                                <a href="{% url 'create_project' %}" class="btn btn-secondary custom-from-button"> Stwórz projekt </a>
                                <a href="{% url 'main' %}" class="btn btn-secondary custom-from-button"> Powrót </a>
                            </div>
                        </div>
                    {% endif %}
            </body>
        {% endblock %}

    </html>