{% extends 'base.html' %}

{% block content %}
    <div class="register-form container">
    <form method="POST" action="">
        {% csrf_token %}
        <h3>Czy usunąć projekt {{ project.project_name }}? </h3>
        <div class="delete-button">
            <input type="submit" value="Usuń" class="btn btn-danger custom-from-button">
            <a href="{% url 'view_project' project_pk=project.id %}" class="btn btn-secondary custom-from-button"> Anuluj </a>
        </div>
    </form>
    </div>
{% endblock %}
