<!DOCTYPE html>
    <html lang="pl">
        Lista projektów użytkownika {{ user.username }} <br>

        {% if projects|length == 0 %}
            Nie masz jeszcze żadnych projektów. <br>
            <a href="{% url 'create_project' %}"> Stwórz swój pierwszy projekt! </a> <br>
        {% else %}
            <a href="{% url 'create_project' %}"> Stwórz projekt </a> <br>
            {% for project in projects %}
                <a href="{% url 'view_project' project_pk=project.id %}"> {{ project }} </a>
                <a href="{% url 'update_project' project_pk=project.id %}"> Edytuj </a>
                <a href="{% url 'delete_project' project_pk=project.id %}"> Usuń </a> <br>
            {% endfor %}
        {% endif %}

    </html>