{% extends 'base.html' %}

{% block content %}
<body>
    Project {{ project }} <br>
    <a href="{% url 'update_project' project_pk=project.id %}"> Edytuj projekt. </a> <a href="{% url 'delete_project' project_pk=project.id %}"> Usuń projekt. </a> <br>
    <a href="{% url 'main_file_list' project_pk=project.id %}"> Fabuła </a> <br>
    <a href="{% url 'project_file_list' project_pk=project.id %}"> Pliki </a> <br>
    <a href="{% url 'object_list' project_pk=project.id %}"> Obiekty </a> <br>
    <a href="{% url 'tag_list' project_pk=project.id %}"> Tagi </a> <br>
    <a href="{% url 'project_list' %}"> Powrót </a>
</body>
{% endblock %}