@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins&display=swap');


/*:root {*/
/*    --black: #0a0908ff;*/
/*    --gunmetal: #6E310E;*/
/*    --almond: #F4F1E8;*/
/*    --khaki: #c6ac8fff;*/
/*    --walnut-brown: #5e503fff;*/
/*}*/

:root {
    --black: #0a0908ff;
    --gunmetal: #344E41;
    --almond: #D1DDD1;
    --khaki: #c6ac8fff;
    --walnut-brown: #5e503fff;
}


body {
    background-color: var(--almond);
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
}

.main-desc {
    margin-top: -20vh;
}

.main-desc .main-text{
    max-width: 40vw;
    float: right;
}

.main-desc .main-image{
    margin-top: -10vh;
}

.main-desc .main-image img{
    margin-top: -10vh;
    max-height: 67vh;
}

.main-text h1{
     text-align: left;
     font-size: 65px;
     line-height: 55px;
     color: var(--gunmetal);
     font-weight: bold;
     padding-bottom: 20px;
     text-transform: uppercase;
}

.main-text p{
    text-align: left;
     padding: 0;
     font-size: 20px;
     line-height: 25px;
     color: var(--gunmetal);
     font-weight: 400;
     padding-bottom: 50px;
}

.navbar {
    background-color: var(--gunmetal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;

}

.navbar-brand {
    color: var(--almond);
    font-weight: bold;
    font-size: 1.2rem;
}

.dropdown-item {
    color: var(--almond);
}

.nav-link {
    color: var(--almond);
}

.navbar-nav {
    display: flex;
    right: 0;
    margin-left: 2rem;
    font-size: 1rem;
}

.username {
    font-weight: bold;
}

footer {
    top: 100%;
    width: 100%;
    position: sticky;
    margin-top: auto;
}

footer small {
    color: black;
}

.big-div {
    margin-top: 23vh;
    width: auto;
}

.list-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.list-center table{
     margin-bottom: 2vh;
}

.list-center td a{
    text-decoration: none;
    color: black;
    padding: 0.2rem;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.tr-border {
    border: 1px solid black;
}

.main-desc {
    font-family: 'Poppins', sans-serif;
}

.main-desc h3 {
    font-size: 1.7rem;
}

.main-desc h4 {
    font-size: 1.4rem;
}

.custom-button {
    background-color: var(--walnut-brown);
    color: var(--almond);
    font-size: 1.4rem;
}

.custom-from-button {
    background-color: var(--walnut-brown);
    color: var(--almond);

}

.display-info {
    font-size: 18px;
}

.custom-list-button {
    background-color: #B4C3B7;
    color: var(--almond);

}

.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.register-form h3{
    font-weight: bold;
}

.register-form p{
    margin-top: 5vh;

}

.log-submit{
    margin-top: 10px;

}
.register-form .form-group{
    padding: 1vmin;
    border-radius: 10px;
}

.delete-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.checkbox-font {
    font-size: 1.2rem;
}

@media only screen and (max-width: 1024px) {
  .main-desc img {
    display: none;
  }

  .main-desc .main-text{
    max-width: 50vw;
    float: left;
  }

  footer {
      position: sticky;
  }
}

.project-view-grid {
    margin: 10vh auto;
    width:400px;
    height:400px;
    background-color: var(--almond);
    display:grid;
    grid-template-columns: 200px 200px;
    grid-row: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.grid-item {
    background-color: #B4C3B7;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
}

.grid-item a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 25px;
    border: 1px solid black;
    padding-top: 35%;
}

@media only screen and (max-width: 1024px) {
    .project-view-grid {
        margin: 10vh auto;
        width:200px;
        height:800px;
        background-color: var(--almond);
        display:grid;
        grid-template-columns: 200px;
        grid-template-rows: 200px 200px 200px 200px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

.display-info-project-view {
    margin-top: 5vh;
}
