{% load static %}
<!DOCTYPE html>

    <html lang="pl">
        <head>
            <title> Aplikacja wspomagająca pisanie fabuł </title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
            <link rel="stylesheet" href="{% static 'base.css' %}">
        </head>

        <body>
            <div class="main-container">
                <header>
                {% block navbar %}
                    <nav class="navbar navbar-expand-lg navbar-dark">
                        <div class="container-fluid">
                            <a class="navbar-brand"> Aplikacja wspomagająca tworzenie fabuł </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color: var(--almond)">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            {% if user.is_authenticated %}
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="{% url 'main' %}"> Strona główna </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="{% url 'project_list' %}"> Projekty </a>
                                        </li>
                                        {% if project %}
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: var(--almond)"> {{ project }} </a>
                                                <ul class="dropdown-menu" style="background-color: var(--gunmetal)">
                                                    <li>
                                                        <a class="dropdown-item" href="{% url 'view_project' project_pk=project.id %}" > Wyświetl projekt </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="{% url 'main_file_list' project_pk=project.id %}" style="color: var(--almond)"> Fabuła </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="{% url 'project_file_list' project_pk=project.id %}" style="color: var(--almond)"> Pliki </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="{% url 'object_list' project_pk=project.id %}" style="color: var(--almond)"> Obiekty </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="{% url 'tag_list' project_pk=project.id %}" style="color: var(--almond)"> Tagi </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <a class="nav-link active username" href="{% url 'account_view' %}"> {{ user.username }} </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="{% url 'logout' %}"> Wyloguj się </a>
                                        </li>
                                    </ul>
                                </div>
                            {% else %}
                                <div class="collapse navbar-collapse align-right" id="navbarSupportedContent">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="{% url 'main' %}"> Strona główna </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="{% url 'register' %}"> Zarejestruj się </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="{% url 'login' %}"> Zaloguj się </a>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </nav>
                {% endblock %}
                </header>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
            <script src="https://kit.fontawesome.com/05a09beaf0.js" crossorigin="anonymous"></script>
            <main>
            {% block content %}{% endblock %}
            </main>
            </div>
        </body>

    </html>
