{% extends 'base.html' %}

{% block content %}
    <div class="display-info big-div container text-center">
        <h3 style="font-weight: bold"> {{ object.object_name }} </h3> <br>
        {% if object.object_description %}
            <a style="font-weight: bold;"> Opis: </a> {{ object.object_description }} <br>
        {% else %}
            <a style="font-weight: bold"> Opis: </a> <a> Obiekt nie ma opisu. </a> <br>
        {% endif %}
        <a style="font-weight: bold;"> Połączenia: </a> {% if connections|length == 0 %}
            Obiekt nie ma połączeń.
        {% else %}
            {% for connection in connections %}
                <a href="{% url 'object_view' project_pk=project.id object_pk=connection.id %}" style="text-decoration: none"> {% if not forloop.last %} {{ connection }}, {% else %} {{ connection }} {% endif %} </a>
            {% endfor %}
        {% endif %} <br>
        <a style="font-weight: bold;"> Tagi: </a> {% if tags|length == 0 %}
            Obiekt nie ma tagów.
        {% else %}
            {% for tag in tags %}
                {{ tag }}
            {% endfor %}
        {% endif %}
        <br>
            {% if tags|length == 0 %}
                <a href="{% url 'object_tags_edit' project_pk=project.id object_pk=object.id %}" class="btn btn-secondary custom-from-button"> Dodaj tagi. </a>
            {% else %}
                <a href="{% url 'object_tags_edit' project_pk=project.id object_pk=object.id %}" class="btn btn-secondary custom-from-button"> Edytuj tagi. </a>
            {% endif %}

            {% if connections|length == 0 %}
                <a href="{% url 'objects_connections_edit' project_pk=project.id object_pk=object.id %}" class="btn btn-secondary custom-from-button"> Dodaj połączenia. </a>
            {% else %}
                <a href="{% url 'objects_connections_edit' project_pk=project.id object_pk=object.id %}" class="btn btn-secondary custom-from-button"> Edytuj połączenia. </a>
            {% endif %}
            <a href="{% url 'object_update' project_pk=project.id object_pk=object.id %}" class="btn btn-secondary custom-from-button"> Edytuj obiekt. </a>
            <a href="{% url 'object_delete' project_pk=project.id object_pk=object.id %}" class="btn btn-danger custom-from-button"> Usuń obiekt. </a>
            <a href="{% url 'object_list' project_pk=project.id %}" class="btn btn-secondary custom-from-button"> Powrót </a>
    </div>
{% endblock %}