{% extends 'base.html' %}

{% block content %}
    {% if objects|length == 0 %}
        <div class="container display-info text-center big-div">
            <h3> Ten projekt nie ma jeszcze żadnych obiektów. </h3>
            <a href="{% url 'object_create' project_pk=project.id %}" class="btn btn-secondary custom-from-button"> Stwórz swój pierwszy obiekt </a>
            <a href="{% url 'view_project' project_pk=project.id %}" class="btn btn-secondary custom-from-button"> Powrót </a>
        </div>
    {% else %}
        <div class="list-center text-center">
            <table>
                <th> <h3> Obiekty projektu </h3> </th>
                {% for object in objects %}
                    <tr class="tr-border custom-list-button">
                        <td> <a class="btn custom-list-button" href="{% url 'object_view' project_pk=project.id object_pk=object.id %}"> {{ object }} </a> </td>
                    </tr>
                {% endfor %}
            </table>
            <div >
                <a href="{% url 'object_create' project_pk=project.id %}" class="btn btn-secondary custom-from-button"> Stwórz obiekt </a>
                <a href="{% url 'view_project' project_pk=project.id %}" class="btn btn-secondary custom-from-button"> Powrót </a>
            </div>
        </div>
    {% endif %}
{% endblock %}