{% extends 'base.html' %}

{% block content %}
    <div class="register-form container">
        <form method="POST" action="" class="px-md-2">
            {% csrf_token %}
            <h3> Stwórz obiekt </h3>
            <div class="form-group row">
                <label for="{{ form.object_name.id_for_label }}"> {{ form.object_name.label }} </label>
                <div>
                    {{ form.object_name }}
                </div>
            </div>

            <div class="form-group row">
                <label for="{{ form.object_description.id_for_label }}"> {{ form.object_description.label }} </label>
                <div>
                    {{ form.object_description }}
                </div>
            </div>

            <div class="log-submit">
                <input type="submit" value="Stwórz obiekt" class="btn btn-secondary custom-from-button">
            </div>
            {% if form.non_field_errors %}
                Błędy:
                <ul>
                    {% for error in form.non_field_errors %}
                        <li> {{ error }} </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
        <div class="login-link">
            <a href="{% url 'object_list' project_pk=project.id %}" class="btn btn-secondary custom-from-button"> Powrót </a>
        </div>
    </div>
{% endblock %}