<form method="POST" action="">
    {% csrf_token %}
    {{ form.object_name.label }}
    {{ form.object_name }} <br>

    {{ form.object_description.label }}
    {{ form.object_description }} <br>

    <input type="submit" value="Zapisz"> <br>
</form>

{% if form.non_field_errors %}
    <br><br> Błędy:
    <ul>
        {% for error in form.non_field_errors %}
            <li> {{ error }} </li>
        {% endfor %}
    </ul>
{% endif %} <br>

<a href="{% url 'object_view' project_pk=project.id object_pk=object.id %}"> Powrót </a>